body{
    background-color: #000000;
    display: inline-block;
    /* min-height: 650px; */
    color: #aaa;
    /* overflow: hidden; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

section{
    max-width:80vw ;
    /* position: relative; */
    display: flex;
    margin-left:20px ;
    margin-top: 20px;
}

#img1, #img2{
    position: fixed;
    box-shadow: 0px 2px 15px 2px #ffffff;
    max-width: 100vw;
    max-height: 80vh;
    opacity: 0.2;
}

#img2 {
    position: relative;
    opacity: 0;
}

div p{
    font-family: 'VT323', monospace ;
    font-size: 1.5em ;
}

button{
    width: 20vw;
    padding: 15px 20px;
    border: 3px solid #62228f;
    border-radius: 10px;
    font-size: 18px;
    transition-duration: 0.5s;
    transition-delay: 150ms;
    background-color:#3e3e3e;
    cursor: pointer;
    /* color: rgb(138, 138, 138); */
}

button:hover{
    box-shadow: 0 0 20px 5px #62228f;
    transition-delay: 0s;
    background-color:#bcbcbc ;
    color: #9500ff;
}

/* @keyframes digitação{
    from { max-width: 0; }
    to { max-width: 100vw; }
} */

.digitando{
    overflow: hidden;
    /* white-space:pre-line; */
    /* border-right: 5px solid white; */
    animation: digitação 3s steps(45) 1 forwards;
    max-width: 100%;
}

.opac{
    opacity: 0;
}

.divAlt1, .divAlt2, .divAlt3, .divAlt4{
    display: none; 
    position: absolute;
    width: auto;
    height: auto;
    font-size: 10px; 
    z-index: 1; 
    border-radius: 5px;
    white-space: pre;
    color: white;
}

.divAlt1{
    /* opacity: unset; */
    background-color: #5902aa;
    box-shadow: 0 0 4px 4px #5902aa;
    top: 155px; 
    left: 380px;
}

.divAlt1 p{
    margin: 10px !important;
}

.divAlt2{
    display: block;
    opacity: 1;
    text-align: left;
    background-color: #aa0202;
    box-shadow: 0 0 4px 4px #aa0202;
    top: 155px; 
    left: 290px;
    
}

.divAlt3{
    display: block !important;
    text-align: center;
    background-color: #5902aa;
    box-shadow: 0 0 4px 4px #5902aa;
    top: 130px; 
    left: 380px;
}

.divAlt3 img{
    margin: 20px 5px 5px 5px;
    background-color: #ffffff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.divAlt4{
    display: block;
    text-align: center;
    background-color: transparent;
    /* box-shadow: 0 0 50px 20px #aa0202; */
    top: 150px; 
    left: 224px;
    padding: 10px;
    font-size: 4em;
    border-radius: 20px;
}


#divTexto{
    margin: 0;
}

div#escolhas{
    width: 100vw;
    opacity: 0;
    margin-left: 100px;
    transition: opacity 750ms; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}


#divAlt{
    transition: opacity 1s 0.5s;
}

div #legenda{  
    /* max-width:60vw; */
    /* white-space: nowrap; */
    color: #b86dff;
    margin-top: 20px;
    text-align: center;
    /* overflow: hidden; Certifica-se de esconder o texto que ainda não apareceu */
}

div#teste{
    max-width:60vw ;
    max-height: 0px;
}

.audio-container {
    text-align: right;
}


  span.material-symbols-outlined{
    font-size: 36px;
    cursor: pointer;
    display: none;

    margin-right: 25px;
    transition-duration: 500ms;
  }

  span.material-symbols-outlined:hover{
    color: #aa0202; 
  }

a{
    text-decoration: none !important; 
}

#volume{
    display: inline-block;
}

